<pre>
Art 2.0
=======

```
      _
     (_)
     |_________________________________________
     |                                        |
     |                                        |
     |                    __                  |
     |               w  c(..)o                |
     |                \__(-)                  |
     |                    /\                  |
     |                 w_/(_)                 |
     |                     /|                 |
     |                    | \                 |
     |                   m  m                 |
     |                                        |
     |                                        |
     |                                        |
     |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     |                                                             ,          
     |                                                         /\^/`\         
     |                                                        | \/   |        
     |                                                        | |    |        
     |                                                        \ \    /        
     |                                                         '\\//'         
     |                                                           ||           
     |                                                           ||           
     |                                                           ||           
     |                                                           ||  ,        
     |                                                       |\  ||  |\       
     |                                                       | | ||  | |      
     |                                                       | | || / /       
     |                                                        \ \||/ /        
     |                                                         `\\//`         
    ---                                                       ^^^^^^^^        

```
</pre>
